streamlit==1.40.2
seaborn==0.13.2
matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
pandas==2.2.2
babel==2.16.0
plotly==5.24.1
plotnine==0.14.1
folium==0.18.0
streamlit_folium==0.23.2
